<!doctype html>
<html lang="en">

    {% load static %}

    {% include 'includes/head.html' %}
    
    <body>
        {% include 'includes/header.html' %}

        <!--================Breadcrumb Area =================-->
        <section class="breadcrumb_area">
            <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="page-cover text-center">
                    <h2 class="page-cover-tittle">About Us</h2>
                    <ol class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">About</li>
                    </ol>
                </div>
            </div>
        </section>
        <!--================Breadcrumb Area =================-->
        
        <!--================ About History Area  =================-->
        <section class="about_history_area section_gap">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 d_flex align-items-center">
                        <div class="about_content ">
                            <h2 class="title title_color">About Us <br>Our Mission & Vision</h2>
                            <p>><B>MISSION</B><br>We are committed to provide a 360 degree integrated hotel management service that creates exceptional value. Our people embody the Baloosh spirit to explore, discover, experience and journey beyond.<br>

                                <b>VISION</b><br>We create memorable experiences inspired by the heart and soul of a destination.</p>
                            <a href="#" class="button_hover theme_btn_two">CHECK OUT OUR SERVICES</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img class="img-fluid" src="{% static 'image/about_bg.jpg' %}" alt="img">
                    </div>
                </div>
            </div>
        </section>
        <!--================ About History Area  =================-->
        
        {% include 'includes/footer.html' %}
        
       
    </body>
</html>